<div class="container">
  <h2><%= @album.title %></h2>
  <table class="table">
    <tr>
      <td>
        <h4>Preis: </h4>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
      <td><h4>Created Date:</h4></td>
      <td><h5><%= @album.created_at %></h5></td>
    </tr>
    <tr>
      <td><h4>Beschreibung:</h4></td>
      <td><h5><%= @album.description %></h5></td>
    </tr>
  </table>
  <br /> <%= %>
</div>
